DB_HOST=db
DB_NAME=app
DB_USER=postgres
DB_PASS=admin1234

POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin1234

DEBUG=True
SECRET_KEY=django-insecure-k)#ths1-_7c$t79o_5(law*1dnw5b0dqp180t*iflwcj^0_lrf
ALLOWED_HOSTS=localhost

# Copy and replace to your local local.env file in this directory