# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython
# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=oruUoaXHUAidbQzKGfPGsUYvsVQXTcit
CELERY_FLOWER_PASSWORD=e2SkJZ7JOVeYxriIfW0n4xXFiraj3fpL0pic37gfvHgl7wV54sUUHeOqcnDm2ajNs

# Swagger
# ------------------------------------------------------------------------------
SWAGGER_URL=swagger/

# Others
# ------------------------------------------------------------------------------
STATSPERFORM_PUBLIC_KEY=
STATSPERFORM_PRIVATE_KEY=
SPORTDATAIO_KEY=